<app-nav>
</app-nav>

<main>
  <sky-fluid-grid>
    <sky-row>
      <sky-column>
        <h1>
          {{ 'home_title' | skyAppResources }}
        </h1>

        <p>
          Welcome to the SKY UX template. This template is dynamically cloned anytime `skyux new` is run.
          For more information about SKY UX, visit the README.
        </p>

        <sky-alert alertType="warning">
          This is an alert to get your attention... Did it work?
        </sky-alert>

        <h1>Hello theredfkldaj </h1>

        <div>
          <h3>This is a test section header</h3>
          <p>This is the paragrapgh text within that section</p>
        </div>

        <p>
          <a
            class="sky-btn sky-btn-primary"
            href="https://developer.blackbaud.com/skyux"
            rel="noopener noreferrer"
            target="_blank"
          >
            Learn more about SKY UX
          </a>
        </p>
      </sky-column>
    </sky-row>
  </sky-fluid-grid>
</main>
